<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-item lines="none">
      <ion-searchbar mode="ios" class="ion-margin-top" placeholder="Buscar pregunta" inputmode="decimal" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>


      <ng-container *ngIf="profile">
        <ion-avatar>
          <img [src]="profile.avatarUrl" onerror="this.src='assets/person-circle-outline.svg'" />
        </ion-avatar>

        <ion-badge color="light">
          <ion-text color="success">
            {{ profile.rating }}<ion-icon name="star"></ion-icon>
          </ion-text>
        </ion-badge>
      </ng-container>

      <ion-button *ngIf="!profile" (click)="launchLoginGoogle()" slot="end" expand="block" fill="clear" shape="round">
        <ion-icon *ngIf="!loading" slot="icon-only" src="assets/logos/Google__G__Logo.svg"></ion-icon>
        <ion-spinner *ngIf="loading" name="circles"></ion-spinner>
      </ion-button>

    </ion-item>


  </ion-toolbar>
</ion-header>

<ion-content>




</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="presentNewQuestionModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>