<ion-content class="ion-padding">

  <ion-fab vertical="top" horizontal="star">
    <ion-fab-button size="small" color="light" routerDirection="back" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-card-header>
    <ion-card-subtitle>Nueva pregunta</ion-card-subtitle>
  </ion-card-header>


  <ion-list>

    <form [formGroup]="form">



      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input formControlName="title" type="text" placeholder="Titulo"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Detalle</ion-label>
        <ion-textarea formControlName="description" rows="6" cols="25" placeholder="Descripción"></ion-textarea>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Etiquetas</ion-label>
        <ion-select formControlName="tags" multiple="true" placeholder="Etiquetas">
          <ion-select-option *ngFor="let tag of tags" [value]="tag">{{ tag }}</ion-select-option>
        </ion-select>
      </ion-item>

    </form>
  </ion-list>

  <ion-row class="ion-padding ion-margin-vertical">
    <ion-col size="6" (click)="takePhoto(1)">



      <ng-container *ngIf="!photo1;else elsePhoto1">
        <img class="img-button" src="assets/new-question/undraw_images_re_0kll.svg" alt="">
        <ion-fab-button size="small" color="medium" class="fab-add-image">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ng-container>

      <ng-template #elsePhoto1>
        <img class="img-button" [src]="photo1" alt="">
      </ng-template>


    </ion-col>
    <ion-col size="6" (click)="takePhoto(2)">

      <ng-container *ngIf="!photo2;else elsePhoto2">
        <img class="img-button" src="assets/new-question/undraw_images_re_0kll.svg" alt="">
        <ion-fab-button size="small" color="medium" class="fab-add-image">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ng-container>

      <ng-template #elsePhoto2>
        <img class="img-button" [src]="photo2" alt="">
      </ng-template>
    </ion-col>

  </ion-row>


  <ion-row class="row-submit-button">
    <ion-col offset="2" size="8" class="ion-padding">
      <ion-button expand="block" shape="round" [disabled]="!form.valid" (click)="onSubmit()">
        publicar
      </ion-button>
    </ion-col>
  </ion-row>


</ion-content>