ion-content {
    --background: var(--ion-color-dark-contrast) url("/assets/undraw_floating_re_xtcj.svg") no-repeat top center / 100%;
}

ion-fab-button {
    --box-shadow: none;
}

ion-card-header {
    margin-top: 8.5vh;
}

.row-submit-button {
    margin-top: 6vh;
}

.img-button {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

.fab-add-image {
    position: absolute;
    right: 25%;
    top: 68%;
}
