ion-content {
    // --background: var(--ion-color-dark-contrast) url("/assets/new-question/undraw_floating_re_xtcj.svg") no-repeat bottom center / 100%;
}


ion-fab-button {
    --box-shadow: none;
}

ion-card-header {
    margin-top: 8vh;
}

.row-submit-button {
    margin-top: 6vh;
}

.fab-add-image {
    position: absolute;
    right: 25%;
    top: 68%;
}