ion-content {}


ion-fab-button {
    --box-shadow: none;
}

ion-card-header {
    margin-top: 8.5vh;
}

.row-submit-button {
    margin-top: 6vh;
}

.img-button {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

.fab-add-image {
    position: absolute;
    right: 25%;
    top: 68%;
}