.fab-close {
    --box-shadow: none;
}

.cover {
    margin-top: 8vh;
    position: relative;
    img {
        display: block;
        margin: 0 auto;
        height: 20vh;
    }
    ion-fab-button {
        position: absolute;
        right: 24%;
        bottom: 0px;
    }
}

.row-submit-button {
    margin-top: 6vh;
}
