<ion-content class="ion-padding">


  <ion-fab vertical="top" horizontal="star">
    <ion-fab-button class="fab-close" size="small" color="light" routerDirection="back" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="cover">

    <img *ngIf="!cover" src="assets/images/undraw_images_re_0kll.svg" alt="cover" (click)="takePhoto()">
    <img *ngIf="cover" [src]="'data:image/jpeg;base64,'+cover" alt="cover">

    <ion-note class="ion-text-center">
      <h6>
        <small>
          Foto principal
        </small>
      </h6>
    </ion-note>
    <ion-fab-button size="small" color="dark" class="fab-add-image" (click)="takePhoto()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </div>


  <ion-card-header>
    <ion-card-subtitle>Nueva Planta</ion-card-subtitle>
  </ion-card-header>


  <ion-list>

    <form [formGroup]="form">



      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tipo</ion-label>
        <ion-select formControlName="type">
          <ion-select-option *ngFor="let type of types" [value]="type">{{ type }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Variedad</ion-label>
        <ion-input formControlName="variety" type="text" placeholder="widow, critical..."></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Detalle</ion-label>
        <ion-textarea formControlName="description" rows="2" cols="15"></ion-textarea>
      </ion-item>

      <div class="ion-float-right div-calendar">
        <ion-text color="primary">
          <p class="p-date">
            <small style="display: block;">
              {{ dateSelected | date: 'dd/MM/yyyy' }}
            </small>
          </p>
        </ion-text>
        <ion-button (click)="launchCalendar($event)" fill="clear">
          {{ dateSelected | daysAgo }} días
          <ion-icon slot="end" name="calendar-outline"></ion-icon>
        </ion-button>
      </div>


    </form>
  </ion-list>


  <ion-row class="row-submit-button">
    <ion-col offset="2" size="8" class="ion-padding">
      <ion-button expand="block" color="success" shape="round" [disabled]="!form.valid" (click)="onSubmit()">
        Guardar
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>