.fab-close {
    --box-shadow: none;
}

.cover {
    margin-top: 8vh;
    position: relative;
    img {
        display: block;
        margin: 0 auto;
        height: 20vh;
    }
    ion-fab-button {
        position: absolute;
        right: 24%;
        bottom: 0px;
    }
}

.div-calendar {
    .p-date {
        text-align: right;
        font-size: 14px;
        margin: 1vh 0 0 0;
        padding-right: 1.3em;
    }

    ion-button {
        margin-top: 0;
    }
}

.row-submit-button {
    margin-top: 6vh;
}
